body {
    margin: 0px !important;
}

#navigation {
    background-color: #e3e3e3;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}

#navigation a {
    color: #0202E3;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    transition: color 0.3s;
}

#navigation a:hover {
    color: #4D4000;
}

.chart-container {
    text-align: center;
}

.chart {
    margin: 20px;
    cursor: pointer;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}

.legend {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-box {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.legend:hover {
    font-weight: bold;
}

.legend-text {
    font-size: 14px;
}

#pieChartPercentage {
    font-size: 20px;
    font-weight: bold;
    display: none;
    text-anchor: middle;
}

.chart {
    margin: 20px;
}

.bar {
    fill: steelblue;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.bar:hover {
    fill: darkblue;
    opacity: 1;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}

.axis-x,
.axis-y {
    font-size: 12px;
}

.legend {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-box {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.legend:hover {
    font-weight: bold;
}

.legend-text {
    font-size: 14px;
}

#tooltip {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    display: none;
}

.axis-label {
    font-size: 14px;
    font-weight: bold;
}

.barchart-container{
   margin: 0 auto;
   width: 800px;
   background-color: #2F4A6D;
   color: #fff;
}
.barchart-container > .axis-label text{
    color: #fff;
}

.bar {
    fill: #80cbc4;
  }

  .bar-label{
    color:#fff;
  }

.lolipopchart-container {
    width: 100%;
    margin: 0 auto;
}

.node circle {
    fill: lightblue;
    transition: transform 2s ease-in-out;
}

.legend {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
