.chart {
    margin: 20px;
    cursor: pointer;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}

.legend {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-box {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.legend:hover {
    font-weight: bold;
}

.legend-text {
    font-size: 14px;
}

#pieChartPercentage {
    font-size: 20px;
    font-weight: bold;
    display: none;
    text-anchor: middle;
}