body {
    margin: 0px !important;
}

#logo {
    color: white;
    font-size: 24px;
    padding-left: 10px;
}

#navigation {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding-right: 20px;
}

#navigation a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

#navigation a:hover {
    background-color: #555;
}

#navigation a.active {
    background-color: #e3bc0e;
}
#navbar-right {
    display: flex;
    align-items: center;
  }
.chart-container {
    margin-top: 1.3rem;
    text-align: center;
}

.chart {
    margin: 20px;
    cursor: pointer;
}

.legend {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-box {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.legend:hover {
    font-weight: bold;
}

.legend-text {
    font-size: 16px;
}

.pieChart-container, .barchart-container{
    margin-top: 25px !important;
}

#pieChartPercentage {
    font-size: 20px;
    font-weight: bold;
    display: none;
    text-anchor: middle;
}

.chart {
    margin: 20px;
}

.bar {
    fill: steelblue;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.bar:hover {
    fill: darkblue;
    opacity: 1;
}

.axis-x,
.axis-y {
    font-size: 12px;
}

.legend {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-box {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.legend:hover {
    font-weight: bold;
}

.legend-text {
    font-size: 14px;
}

#tooltip {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    display: none;
}

.axis-label {
    font-size: 14px;
    font-weight: bold;
}

.barchart-container {
    margin: 0 auto;
    width: 800px;
    background-color: #2F4A6D;
    color: #fff;
}

.barchart-container>.axis-label text {
    color: #fff;
}

.bar {
    fill: #80cbc4;
}

.bar-label {
    color: #fff;
}

.dashed-line {
    stroke: #e3bc0e;
    stroke-opacity: 0.7;
}

.lolipopchart-container {
    width: 100%;
    margin: 0 auto;
}

.node circle {
    fill: #80d3ef;
    transition: transform 2s ease-in-out;
}

.legend {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.selected {
    fill: white;
}

.pie-path:hover {
    transition: box-shadow 0.3s;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  }

  .pie-path-hovered {
    transition: box-shadow 0.3s;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  }
  